@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?83j7r0');
  src:  url('fonts/icomoon.eot?83j7r0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?83j7r0') format('truetype'),
    url('fonts/icomoon.woff?83j7r0') format('woff'),
    url('fonts/icomoon.svg?83j7r0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
  content: "\e900";
}
.icon-read-more:before {
  content: "\e901";
}
.icon-more:before {
  content: "\e901";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-share:before {
  content: "\ea7d";
}
